.product-card{
    /* height:30%; */
    width:300px;
    cursor: pointer;
}
.product-image{
    /* height:60px;
    width:60px; */
    cursor: pointer;
}
.availability-strip{
    width:60%;
    margin:0 auto;
    padding:10px;
}
.delete-prod-icon{
    position: relative;
    top:-39px;
    left:-18px;
    cursor:pointer;
}
.image-prod-item{
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin-right: 10px; /* Adjust as needed */
    border-radius: 20px;
    cursor:pointer;
}
  